<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ホーム</title>
	<link th:href="@{css/layout.css}" rel="stylesheet">
	<link th:href="@{css/home.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div th:replace="~{sidebar :: sidebar}"></div>
		<div class="content">
			<h2>現在借りている書籍</h2>
			<p th:if="${message != null}" th:text="${message}"></p>
			<table class="design02">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>貸出日</th>
						<th>編集</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="book : ${books}">
						<td th:text="${book.title}"></td>
						<td th:text="${#dates.format(book.transaction.borrowDate, 'yyyy/MM/dd')}"></td>
						<td>
							<a th:href="@{/editBook(id=${book.bookId},type='home')}">編集</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>