<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍登録</title>
<link th:href="@{css/layout.css}"  rel = "stylesheet">
<link th:href="@{css/regBook.css}"  rel = "stylesheet">
</head>
<body>
	<div class="container">
	<div th:replace ="~{sidebar :: sidebar}"></div>
    <div class="content">
        <h1>書籍登録</h1>
        <form th:action="@{/regBook}" method="post">
			<input type="text" class="title_form" id="title" name="title"  maxlength="255" placeholder="タイトル" required>
			<br>
			<input type="text" class="author_form" id="name" name="name"  maxlength="255" placeholder="著者名" required>
			<br>
			<textarea id="summary" class="summary_form" name="summary" maxlength="255" placeholder="あらすじ・概要"></textarea>
			<br>
			<input type="submit" class="reg_btn" value="新規登録">
		</form>
    </div>
</body>
</html>