<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>設定</title>
	<link th:href="@{css/layout.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div th:replace="~{sidebar :: sidebar}"></div>
		<div class="content">
			<h1>設定</h1>
			<form th:action="@{/setting}" th:object="${user}" method="post">
				<input type="hidden" name="userId" th:value="*{userId}" />
				<input type="text" id="userName" name="userName" th:value="*{userName}" required>
				<br>
				<input type="password" id="password" name="password" placeholder="新しいパスワード">
				<br>
				<p th:if="*{role}=='User'" th:text="一般ユーザー"></p>
				<p th:if="*{role}=='Admin'" th:text="管理ユーザー"></p>
				<input type="submit" value="更新">
			</form>
		</div>
	</div>
</body>

</html>