<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー管理</title>
	<link th:href="@{css/layout.css}" rel="stylesheet">
	<link th:href="@{css/userManagement.css}" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div th:replace="~{sidebar :: sidebar}"></div>
		<div class="content">
			<h1>ユーザー管理</h1>
			<a th:href="@{/register}">新規登録</a>
			<p th:if="${message} != null" th:text="${message}"></p>
			<table class="design02">
				<thead>
					<tr>
						<th>ユーザーID</th>
						<th>ユーザーネーム</th>
						<th>権限</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user:${users}">
						<td th:text="${user.userId}"></td>
						<td th:text="${user.userName}"></td>
						<td th:text="${user.role}"></td>
						<td><a th:href="@{/adminSetting(id=${user.userId})}">編集</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>

</html>